<div class='container jumbotron'>
	<div class='row'>
		<div class='col-sm-4'>
			<img class='img-responsive' src='/img/linocutboy_01_handbag.jpeg' alt='Handbag linocut print'>
			<h2><%= @art_title_01 %></h2>
			<p><%= @art_description_01 %></p>		
		</div>
		<div class='col-sm-4'>
			<img class='img-responsive' src='/img/linocutboy_02_deep_sea_diver.jpeg' alt='Deep Sea Diver linocut print'>
			<h2><%= @art_title_02 %></h2>
			<p><%= @art_description_02 %></p>		
		</div>
		<div class='col-sm-4'>
			<img class='img-responsive' src='/img/linocutboy_03_blue_turkeys.jpeg' alt='Blue Turkeys  linocut print'>
			<h2><%= @art_title_03 %></h2>
			<p><%= @art_description_03 %></p>		
		</div>
	</div>
</div>